.cell-1 {
     border-left: solid 1px black;
     width: 7vw;
     max-width: 7vw;
     background-color: #ddd;
}

.level-5 {
     .cell-2 {
          width: 21vw;
          max-width: 21vw;
     }

     .cell-3 {
          width: 22vw;
          max-width: 22vw;
     }

     .cell-4 {
          width: 22vw;
          max-width: 22vw;
     }

     .cell-5 {
          width: 28vw;
          max-width: 28vw;
     }
}

.level-6 {
     .cell-2 {
          width: 17vw;
          max-width: 17vw;
     }

     .cell-3 {
          width: 17vw;
          max-width: 17vw;
     }

     .cell-4 {
          width: 17vw;
          max-width: 17vw;
     }

     .cell-5 {
          width: 21vw;
          max-width: 21vw;
     }

     .cell-6 {
          width: 21vw;
          max-width: 21vw;
     }
}

.level-7 {
     .cell-1 {
          width: 5vw;
          max-width: 5vw;
     }

     .cell-2 {
          width: 16vw;
          max-width: 16vw;
     }

     .cell-3 {
          width: 16vw;
          max-width: 16vw;
     }

     .cell-4 {
          width: 16vw;
          max-width: 16vw;
     }

     .cell-5 {
          width: 16vw;
          max-width: 16vw;
     }

     .cell-6 {
          width: 16vw;
          max-width: 16vw;
     }

     .cell-7 {
          width: 15vw;
          max-width: 15vw;
     }
}

.del-cell {
     position: absolute;
     right: 0;
     width: 100vw;
     text-align: right;
     background-color: rgba(69, 69, 69, 0.33);

     input:checked {
          border-color: black;
          background-color: red;
     }
}
