.cell-0 {
     width: 100vw;
}
/*
.cell-1 {
     max-width: 10vw;
}

.cell-2 {
     max-width: 10vw;
}

.cell-3 {
     max-width: 10vw;
}

.cell-4 {
     max-width: 10vw;
}

.cell-5 {
     max-width: 10vw;
}

.cell-6 {
     max-width: 10vw;
}
*/