[x-cloak] {
     display: none !important;
}

:root {
     font-size: 13px;
}

#log-form {
     position: absolute;
     top: 50%;
     left: 50%;
     translate: -50% -50%;
     font-size: 16px;
     input {
          margin: 50px;
     }
     button {
          font-size: 16px;
     }
}

button {
     height: 2em;
     padding: 0em;
}

@media only screen and (orientation:landscape) {
     #app {
          display: none;
     }
     body::after {
          content: "Si quieres usar esto en horizontal, FUCK YOU.\a Descarga la app.";
          white-space: pre-wrap;
     }
}

/*#dogo {
     position: absolute;
     top: 50vh;
     left: 50vw;
     translate: -50% -50%;
     background-color: white;
     margin: 100px;
     min-width: 60vw;
     input {
          max-width: 40vw;
     }
     padding: 15px;
     border: solid;
     border-radius: 17px;
     box-shadow: 0px 0px 11px 7px;
}
*/
