.arriba {
     position: fixed;
     top: 0vh;
     width: 100vw;
     height: 10vh;
     border-bottom: solid 1px;
}

.abajo {
     position: fixed;
     width: 100vw;
     height: calc(10vh);
     top: calc(100vh + 1px);
     translate: 0 -100%;

     #status {
          padding-top: 5px;
          border-top: solid 1px;
          padding-bottom: 5px;
          display: flex;
          justify-content: space-evenly;
     }

     #actions {
          padding-top: 13px;
          border-top: solid 1px;
          padding-bottom: 13px;
          display: flex;
          justify-content: space-evenly;
     }
}
