.arriba {
     position: fixed;
     top: 0vh;
     width: 100vw;
     height: 10vh;
     border-bottom: solid 1px;
}

.tabla {
     white-space: nowrap;
     font-size: 0px;
     span {
          display: inline-block;
          border-right: solid 1px black;
          align-content: center;
          font-size: 13px;
          overflow: clip;
          padding-left: 3px;
          padding-right: 3px;
     }
}

.abajo {
     position: fixed;
     width: 100vw;
     height: 10vh;
     top: 100vh;
     translate: 0 -100%;

     #status {
          padding-top: 5px;
          border-top: solid 1px;
          padding-bottom: 5px;
          display: flex;
          justify-content: space-evenly;
     }

     #actions {
          padding-top: 13px;
          border-top: solid 1px;
          padding-bottom: 13px;
          display: flex;
          justify-content: space-evenly;
          button {
               width: 24vw;
          }
     }

     .borrando #del-mode {
          width: 55vw;
          background-color: red;
     }
}
