.cabecera {
     position: fixed;
     top: 10vh;
     z-index: 1;
     border-bottom: solid 2px black;
     scrollbar-width: none;
     span {
          height: 4vh;
          background-color: lightblue;
          font-weight: bold;
     }
}

.registros {
     position: fixed;
     top: 14vh;
     height: 76vh;
     overflow: auto;
     scrollbar-width: none;
     div {
          border-bottom: solid 1px black;
     }
     span {
          height: 3vh;
     }
}

[id*="row"]:nth-child(odd) {
     background-color: rgba(0, 0, 0, 0.11);
}

.positive {
     color: blue;
     text-align: right;
}

.negative {
     color: red;
     text-align: right;
}

.positive::before, .negative::before {
     content: "$";
     float: left;
}
