#tabla span {
     padding: 1px 7px 3px 5px;
     display: inline-block;
     border-right: solid 1px black;
}

.cabecera {
     position: fixed;
     top: calc(10vh + 1px);
     border-bottom: solid 1px black;
     span {
          height: 4vh;
          align-content: center;  
     }
}

.registros {
     position: fixed;
     top: calc(14vh + 2px);
     height: calc(76vh - 2px);
     overflow: auto;
     scrollbar-width: none;
     div {
          border-bottom: solid 1px black;
     }
}

.positive {
     color: blue;
     text-align: right;
}

.negative {
     color: red;
     text-align: right;
}

.positive::before, .negative::before {
     content: "$";
     float: left;
}
