[x-cloak] {
     display: none !important;
}

:root {
     font-size: 13px;
}

button {
     height: 2em;
     padding: 0em;
}

@media only screen and (orientation:landscape) {
     #app {
          display: none;
     }
     body::after {
          content: "Si quieres usar esto en horizontal, FUCK YOU.\a Descarga la app 🤑.";
          white-space: pre-wrap;
     }
}

@media (prefers-color-scheme: dark) {
     #app {
          display: none;
     }
     body::after {
          content: "abandona el lado oscuro 🐔.";
          white-space: pre-wrap;
     }
}
